Source: grml-shlib
Section: grml
Priority: optional
Maintainer: Michael Prokop <mika@grml.org>
Build-Depends: debhelper (>= 5), asciidoc, xsltproc, docbook-xsl
Standards-Version: 3.9.4
Homepage: http://git.grml.org/?p=grml-shlib.git
Vcs-git: git://git.grml.org/grml-shlib.git
Vcs-Browser: http://git.grml.org/?p=grml-shlib.git
Origin: Grml
Bugs: mailto:bugs@grml.org

Package: grml-shlib
Architecture: all
Depends: ${misc:Depends}, procps, net-tools, iproute2 | iproute
Conflicts: sh-lib
Replaces: sh-lib
Description: Generic shell library used in grml scripts
 The grml-shlib is meant as generic shell library for use in
 grml scripts.
