Source: sh-lib
Section: main
Priority: optional
Maintainer: Michael Gebetsroither <michael.geb@gmx.at>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: sh-lib
Architecture: all
Depends: ${misc:Depends}, procps, net-tools, gawk
Description: Generic shell library
 The sh-lib is developed on zsh, only partially tested on bash.
